body {
    margin: 0;
    position: relative;
}

#refresh {
    background-color: lightblue;
    border-radius: 8px;
    box-shadow: 1px 1px;
    cursor: pointer;
}

#reload {
    background-color: lightcoral;
    border-radius: 8px;
    box-shadow: 1px 1px;
    cursor: pointer;
}

.cell {
    cursor: pointer;
}

.cell:focus {
    background-color: rgb(192, 245, 192);
}

#grid {
    display: grid;
    grid-template-columns: repeat(100, 80px);
    grid-auto-rows: 35px;
}

#container {
    display: flex;
    flex-direction: column;
}

#top {
    display: flex;
    align-items: center;
    background-color: green;
    height: 3rem;
    
}

button {
    height: 70%;
    margin-left: 2rem;
}

body {
    width: 8030px;
} 

.grey {
    background-color: lightgrey;
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
}

